<% @mer.comments.each do |comment| %>
  <div class="panel panel-primary">
	  <div class="panel-heading"><%= comment.commenter %>,  <%= comment.created_at.localtime.to_formatted_s(:rfc822) %></div>
    <div class="panel-body panel-primary">
      <div class="well">
		  	<%= comment.body %>
		  </div>
    </div>
    <div class="panel-footer">
	  	| <%= link_to 'Edit comment', edit_mer_comment_path(comment.mer, comment) %>
	    | <%= link_to 'Delete this comment', [comment.mer, comment],
	                 method: :delete,
	                 data: { confirm: 'Are you sure?' } %>	
	  </div>
	</div>
<% end %>