<div class="row">
	<div class="col-sm-6 col-md-4 col-md-offset-4">
		<div class="mer-wall">
			<%= form_for(@mer, :html => { class: "form-mer"}) do |f| %>
			   <%= render 'mer_error_messages' %>
			   <%= f.label :"Idea:" %><br  />
			   <%= f.text_area :title, class: "form-control" %><br  />
			   <%= f.label :"Notes:" %>
			   <br  />
			   <%= f.text_area :text, class: "form-control" %><br  />
			   <%= f.label :"Tags:" %><br  />
			   <%= f.text_field :tag_list, value: "draft", class: "form-control" %><br  />
				 <br  />
			   <%= f.submit "Save", class: "btn btn-lg btn-primary btn-block" %>

			   <!-- A vote must be set to 0 in database -->
			   <% @mer.vote = 0 %>  
			   <%= f.hidden_field :vote %>
				 <span class="clearfix"></span>
			<% end %>
	  </div>
	</div>
</div>

