<br  />
<div class="panel panel-primary panel-form">
		<div class="panel-body panel-primary">
			<%= form_for(@mer, :html => { class: "form-mer"}) do |f| %>
			   <%= render 'mer_error_messages' %>
			   <%= f.hidden_field :title, value: "title", class: "form-control" %><br  />
			   <%= f.label :"Note:" %>
			   <br  />
			   <%= f.text_area :text, class: "form-control" %><br  />
			   <%= f.label :"Tag:" %><br  />
			   <%= f.text_field :tag_list, class: "form-control" %><br  />
				 <br  />
			   <%= f.submit "Save", class: "btn btn-lg btn-primary" %>
				 <span class="clearfix"></span>
			<% end %>
	</div>
</div>
