<div class="panel panel-primary">
	<div class="panel-heading"><%= @mer.created_at %></div>
  <div class="panel-body panel-primary">
    <div class="well">
			<%= @mer.title %>
		</div>
    <div class="well">
			<%= @mer.text %>
		</div>
    <div class="well">
			<%= raw @mer.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
		</div>
  </div>
  <div class="panel-footer">
		<%= link_to 'Edit', edit_mer_path(@mer) %>
    | <%= link_to 'Ideas', mers_path %>
		| This idea has <%= pluralize(@mer.vote, "vote") %>		
	</div>
</div>