<h1>Show myNotes</h1>
<%= link_to 'New myNote', new_mer_path %>
|
<%= link_to 'Print all myNotes', printAll_path %>
| <%= link_to 'Show myNotes', mers_path %>

<p>
<div id="tag_cloud">
  <% tag_cloud Mer.tag_counts, %w{s m l} do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
</p>

<p>
<%= form_tag(mers_path, :method => "get", id: "search-form") do %>
	<%= text_field_tag :search, params[:search], placeholder: "Search title" %>
	<%= submit_tag "Search", :name => nil %>
<% end %>
</p>

<div="mers"> 
  <% @mers.each do |mer| %>
      <h4><%= link_to mer.title, mer %></h4>
      <%= simple_format(mer.text) %>
	  <p>Tags: <%= raw mer.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
	  <p><%= pluralize(mer.comments.count,'comment') %> | thumbs_up = <%= mer.thumbs_up %></p>
	  
	  <p>
	  	<%= form_for mer do |f| %>
	  	  <% mer.thumbs_up = mer.thumbs_up + 1  %>
	  	  <%= f.hidden_field :thumbs_up %>
	  	  <%= f.submit "thumbs" %>
		  Up
	  	<% end %>
	  </p>

	  <p>
	  	<%= form_for mer do |f| %>
	  	  <% mer.thumbs_up = mer.thumbs_up - 2  %>
	  	  <%= f.hidden_field :thumbs_up %>
	  	  <%= f.submit "thumbs" %>
		  Down
	  	<% end %>
	  </p>
	  
	  <%= link_to 'Print', printSelected_path(:id => mer.id) %>
	  | <%= link_to 'Show', mer_path(mer) %>
	  | <%= link_to 'Edit', edit_mer_path(mer) %>
	  | <%= link_to 'Delete', mer_path(mer),
		  	method: :delete, data: { Confirm: 'Are you sure???' }%>
	  <br />
	  <br />
	  <br />
  <% end %>
</div>

<p><%= link_to 'Home', root_path %></p>