<% provide(:title, 'Idea') %>
<h1>Idea:</h1>
<p>
  <%= @mer.title %>
</p>
<h1>Notes:</h1>
<p>
  <%= @mer.text %>
</p>
<h1>Tags:</h1>
<p>
  <%= @mer.tag_list %>
</p> 
<%= link_to 'Edit', edit_mer_path(@mer) %>
| 
<%= link_to 'Ideas', mers_path %>
<br  />
<br  />
<strong>vote = </strong><%= @mer.vote %>
<%= form_for @mer do |f| %>
  <% @mer.vote = @mer.vote + 1  %>
  <%= f.hidden_field :vote %>
  <%= f.submit "vote up" %>
<% end %>
<%= form_for @mer do |f| %>
  <% @mer.vote = @mer.vote - 2  %>
  <%= f.hidden_field :vote %>
  <%= f.submit "Vote down" %>
<% end %>

<h2>Comments</h2>
<% @mer.comments.each do |comment| %>
  <strong>Name:</strong>
  <p>
  <%= comment.commenter %>
  </p>
  <strong>Comment:</strong>
  <p>
  <%= comment.body %>
  </p>
  <%= link_to 'Delete above comment', [comment.mer, comment],
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %>
  <br />
<% end %>

<h3>Add a comment:</h3>
<%= form_for([@mer, @mer.comments.build]) do |f| %>
    <%= f.label :commenter %><br />
    <%= f.text_field :commenter %>
    <%= f.label :Comment %><br />
    <%= f.text_area :body %>
    <%= f.submit "Save" %>
<% end %>


