<% provide(:title, 'Idea') %>
<div class="container">
  <h1>Idea:</h1>

  <%= render 'show_mer' %>	
	
	<h3><%= pluralize(@mer.comments.count, "comment") %></h3>
	
	<% @mer.comments.each do |comment| %>
	  <div class="panel panel-primary">
		<div class="panel-heading"><%= comment.created_at %></div>
	  <div class="panel-body panel-primary">
	    <div class="well">
				<%= comment.commenter %>
			</div>
	    <div class="well">
				<%= comment.body %>
			</div>
	  </div>
	  <div class="panel-footer">
		  <%= link_to 'Delete this comment', [comment.mer, comment],
		                 method: :delete,
		                 data: { confirm: 'Are you sure?' } %>	
		</div>
		</div>
	<% end %>
	<%= render 'add_comment' %>

  to be removed
<%= link_to('vote down for this post!', vote_down_mer_path(@mer), :method => :put) %>
</div>

