User: <%= User.find(@acting.user_id).name %>
<br  />


<%= form_for(@acting) do |f| %>
  <% if @acting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@acting.errors.count, "error") %> prohibited this acting from being saved:</h2>

      <ul>
      <% @acting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :activity_id %><br>
    <%= f.collection_select(:activity_id, Activity.all, :id, :name) %>
  </div>


  <div class="field">
    <%= f.label :start %><br>
    <%= f.text_field :start %>
  </div>
  <div class="field">
    <%= f.label :stop %><br>
    <%= f.text_field :stop %>
  </div>
  <div class="actions">
    <%= f.submit "Update", class: "btn btn-md btn-primary"  %>
  </div>
<% end %>
