<div class="container">
	<br  />
	<h3><%= @activity.name.capitalize %> started at <%= @acting.start %></h3>
	<h3><%= @activity.name.capitalize %> stopped at <%= @acting.stop %></h3>
	<br  />
	<h2><%= @activity.name.capitalize %> duration was <%= Time.at(@acting.stop - @acting.start).utc.strftime("%H:%M:%S") %></h2>
	<br  />
	<br  />
	<%= link_to "Action", action_path, class: "btn btn-lg btn-primary btn-block" %>

</div>