<div class="container">
	<br  />	
	<br  />
	<h3><%= @activity.name %> started at <%= @acting.start %></h3>
	<h3><%= @activity.name %> stopped at <%= @acting.stop %></h3>
	<br  />
	<h2><%= @activity.name %> duration was <%= Time.at(@acting.stop - @acting.start).utc.strftime("%H:%M:%S") %></h2>
|<%= link_to 'edit', edit_acting_path(@acting) %> | <%= link_to 'Delete', acting_path(@acting),
			  	method: :delete, data: { Confirm: 'Are you sure?' } %>

</div>