<div class="container">
	<br  />
	<h3><%= @activity.name.capitalize %> started at <%= @acting.start %></h3>
	<h3><%= @activity.name.capitalize %> stopped at <%= @acting.stop %></h3>
	<br  />
	<h2><%= @activity.name.capitalize %> duration was <%= Time.at(@acting.stop - @acting.start).utc.strftime("%H hrs %M mins %S s") %></h2>

</div>