<%= form_for(@item, :html => { class: "form-mer"}) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>
<div class="panel panel-primary panel-form">
		<div class="panel-body panel-primary">
		    <%= f.label :"name:" %><br  />
		    <%= f.text_field :name, class: "form-control" %>
				<br  />
		    <%= f.label :"description:" %><br  />
		    <%= f.text_area :description, class: "form-control" %>
				<br  />
		    <%= f.hidden_field :user_id, value: current_user.id, class: "form-control" %>
				<br  />
		   <%= f.label :"Tag:" %><br  />
		   <%= f.text_field :tag_list, class: "form-control" %>
			 <br  />
		    <%= f.label :"set reminder time:" %><br  />
		    <%= f.datetime_select :set_time, class: "form-control" %>
			<br  />
			<div id='calendar_form'></div>
			<br  />
			<label class="checkbox pull-left">
				<%= f.label "Alarm?" %>			
        <%= f.check_box :alarm, class: "form-control" %>
      </label>
			<br  />
			<br  />
			<br  />
			<br  />
		  <%= f.submit "Save", class: "btn btn-lg btn-primary" %>
			<span class="clearfix"></span>
   <% end %>
	</div>
</div>