<% provide(:title, 'Notes') %>
<div class="container">
  <br  />
	<div class="container">
		<%= render 'items/search' %>
		<br  />
	  <% @items.each do |i| %>
		<% @item = i %>
		<% @user = User.find(i.user_id) %>
		<%= render 'show_item' %>			  
	  <% end %>
  </div>
</div>


<div class="container">
<h1>Listing items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>|Description</th>
      <th>|User</th>
      <th>|Set time</th>
      <th>|Alarm</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= User.find(item.user_id).name %></td>
        <td><%= item.set_time %></td>
        <td><%= item.alarm %></td>
        <td><%= link_to '|Show', item %></td>
        <td><%= link_to '|Edit', edit_item_path(item) %></td>
        <td><%= link_to '|Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
</div>