<div class="container">
	<br  />
	<h2><%= current_user.name %> all activities</h2>
	<table>
	  <thead>
	    <tr>
	      <th>Activity....................</th>
	      <th>started...........</th>
	      <th>duration.................</th>
	      <th></th>
	      <th></th>
				<th></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @actings_cu.each do |a| %>
	      <tr>
	        <td><%= Activity.find(a.activity_id).name %></td>
	        <td><%= a.start.to_formatted_s(:short) %></td>
					<td><%= Time.at(a.stop - a.start).utc.strftime("%H hrs %M mins %S s") %></td>
	        <td><%= link_to 'Show', acting_path(a) %></td>
	        <td> |<%= link_to 'Edit', edit_acting_path(a) %></td>
	        <td> |<%= link_to 'Destroy', acting_path(a), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>


</div>