<div class="container">
	<br  />
	<% if @activities.empty? %>
		<div class="row">  
			<div class="col-md-6">
				<%= link_to "new activity", new_activity_path, class: "btn btn-lg btn-primary btn-block" %>		
	    </div>
		</div>
	<% else %>
	  <% @activities.each do |a| %>
		  <% @user = User.find(a.user_id) %>
	    <div class="panel panel-primary">
		    <div class="panel-heading"></div>
	      <div class="panel-body panel-primary">
	        <div class="well">
			      <%= a.name %>
			    </div>
	      <div class="panel-footer">
				    <%= button_to "Add to myActivity", my_act_activity_path(a), method: :get, class: "btn btn-sm btn-success" %>				
        <br  />
				<%= link_to 'Delete', activity_path(a), method: :delete, data: { Confirm: 'Are you sure?' } %>
				| <%= link_to "Action", action_path, method: :get %>
	    </div>
	  </div>
	  </div>
		<% end %>
  <% end %>	
</div>
