<div class="container">
	<h3>"<%= @activity.name %>" added to the front page</h3>
	<br  />
	My all activities are:
	<ul>
	<% @my_activities.each do |m| %>
	<li>
	<%= m.name %> | <%= link_to 'delete', activity_path(m), method: :delete, data: { Confirm: 'Are you sure?' } %>
	</li>
	<% end %>
	</ul>
	<br  />
		<%= link_to 'Action', action_path %> |
	<%= link_to 'Show', @activity %> |
	<%= link_to 'Back', activities_path %>
</div>