<%# navigation links %>
<ul class="nav navbar-nav">
<% if signed_in? %> 
<li class="navitem <%= 'active' if current_page?(action_path) %>">
	<%= link_to action_path do %>
	 <span class="glyphicon glyphicon-refresh"></span>Start
  <% end %>
</li>
<li class="navitem <%= 'active' if current_page?(new_activity_path) %>">
	<%= link_to new_activity_path do %>
	 <span class="glyphicon glyphicon-pencil"></span>Activity
  <% end %>
</li>

<li class="navitem <%= 'active' if current_page?(activities_path) %>">
	<%= link_to activities_path do %>
	  <span class="glyphicon glyphicon-search"></span>Search
  <% end %>	
</li>
<li class="navitem <%= 'active' if current_page?(history_path) %>">
	<%= link_to history_path do %>
	  <span class="glyphicon glyphicon-file"></span>History
	<% end %>	
</li>
	
<%= render 'layouts/dropdown' %>

<% end %>
</ul>