
	<% if current_user %>
	<%= link_to "ACT", action_path, method: :get, class: "btn btn-primary" %>
	<%= link_to "NOT", new_mer_path, method: :get, class: "btn btn-success" %>
	<%= link_to "TIM", timeline_page_path, method: :get, class: "btn btn-warning" %>
	<%= link_to "INV", inventory_page_path, method: :get, class: "btn btn-danger" %>
	<% end %>
  <div class="container small">
    ©iNERO <%= Time.now.year %>
		<%= link_to "About", about_path %>
		<span id="siteseal">
			<script type="text/javascript"
			src="https://seal.godaddy.com/getSeal?sealID=KOqUmeJsRCQbpRYwomBfYTT1o7c2hSXNnIWA99lRI8vrSyKrWH0MB">
			</script>
		</span>
  </div>
