<%# navigation links %>
<ul class="nav navbar-nav">
<% if signed_in? %> 
<li class="navitem <%= 'active' if current_page?(new_item_path) %>">
	<%= link_to new_item_path do %>
	 <span class="glyphicon glyphicon-pencil"></span>Item
  <% end %>
</li>
<li class="navitem <%= 'active' if current_page?(search_items_path) %>">
	<%= link_to search_items_path do %>
	  <span class="glyphicon glyphicon-search"></span>Search
  <% end %>	
</li>
<li class="navitem <%= 'active' if current_page?(print_collection_path) %>">
	<%= link_to print_collection_path do %>
	  <span class="glyphicon glyphicon-th-list"></span>Collection
	<% end %>	
</li>
	
<%= render 'layouts/dropdown' %>

<% end %>
</ul>